<?xml version="1.0" encoding="utf-8"?>
<config>
  <server>
    <ip>127.0.0.1</ip>
    <port>8001</port>
    <buf_size>1024</buf_size>
    <listenq>64</listenq>
    <proc_size>500</proc_size>
    <queue_size>10000</queue_size> 
    <max_data_len>81920</max_data_len>
    <read_timeout>10</read_timeout>
    <write_timeout>10</write_timeout> 
  </server>
</config>

